* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1320;
  margin: 0 auto;
  padding: 0 20px;
}
body {
  font-family: sans-serif;
}
.a1 {
  width: 24px;
  height: 24px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 17px;
  padding-bottom: 17px;
  border-bottom: 1px solid rgb(223, 223, 223);
  gap: 30px;
}
nav h4 {
  font-size: 12px;
  opacity: 0.8;
  font-weight: 450;
}
nav h4:hover {
  color: #008dff;
}
.a {
  display: flex;
  align-items: center;
  padding: 6px 30px;
  font-size: 14px;
  color: #fff;
  background: #008dff;
  border-radius: 10px;
  border-style: none;
  grid-area: 3px;
  cursor: pointer;
  transition: 0.3s linear;
}
.a:hover {
  background: rgb(8, 110, 160);
}
#b {
  width: 379px;
  height: 40px;
  outline: none;
  border-radius: 10px 0 0 10px;
  border: 2px solid #008dff;
  padding: 0 10px;
  color: #008dff;
}
#b::placeholder {
  opacity: 0.5;
}
.a2 {
  padding: 10.7px 12px;
  font-size: 16px;
  border-radius: 0 10px 10px 0;
  color: #fff;
  background: #008dff;
  border-style: none;
  cursor: pointer;
  transition: 0.3s linear;
}
.a2:hover {
  background: #0275d3;
}
.a3 {
  display: flex;
  align-items: center;
}
.a4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.b {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 17px 0;
  gap: 120px;
}
.b p {
  font-size: 15px;
  color: #282830;
  cursor: pointer;
  transition: 0.2s linear;
}
.b p:hover {
  color: #008dff;
}
.b1 {
  display: flex;
  align-items: center;
  gap: 10px;
}
.b1 img {
  width: 30px;
}
header {
  position: fixed;
  z-index: 3;
  background: #fff;
  top: 0;
  right: 0;
  left: 0;
}
.c {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 40px 30px;
}
.c3 {
  width: 160px;
  height: 160px;
}
.c5 {
  width: 100px;
}
.c8 {
  padding: 3px 10px;
  border-radius: 8px;
  background: #00bfaf;
}
.c1 {
  text-align: center;
  width: 320px;
  padding: 15px;
}
.c2 {
  display: flex;
  align-items: start;
  position: absolute;
  z-index: 1;
  gap: 165px;
  margin-top: -165px;
}
.c2 p {
  font-size: 12px;
  padding: 2px 8px;
  background: red;
  color: #fff;
  border-radius: 4px;
}
.c9 {
  display: flex;
  flex-direction: column;
}
.c1 h1 {
  font-size: 14px;
  color: #141821;
  font-weight: 500;
  text-align: left;
  margin-top: 15px;
  cursor: pointer;
}
.c1 h1:hover {
  color: #008dff;
}
.c4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}
.c6 {
  display: flex;
  align-items: center;
  gap: 5px;
}
.c6 p {
  font-size: 12px;
  color: #c2c6d1;
}
.c1 h2 {
  font-size: 18px;
  color: #008dff;
  text-align: left;
  margin-top: 10px;
}
.c1 h3 {
  font-size: 14px;
  color: #fe7300;
  text-align: left;
  margin-top: 6px;
  padding: 4px;
  border: 2px solid #fe7300;
  border-radius: 4px;
}
.c7 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.c7 button {
  color: #fff;
  background: #008dff;
  border-radius: 8px;
  padding: 8px 60px;
  font-size: 15px;
  border-style: none;
  cursor: pointer;
}
.d {
  max-width: 1280px;
  margin-top: 160px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}
.d h1 {
  font-size: 18px;
  color: #262626;
}
.e {
  position: fixed;
  top: 85%;
  right: 60px;
  z-index: 2;
}
.e img {
  padding: 12px;
  background: #008dff;
  width: 60px;
  border-radius: 50%;
  border: 4px solid #98cbf5;
}
.f {
  width: 320px;
  height: 200px;
  background: rgb(223, 223, 223);
  border-radius: 8px;
}
.f1 {
  width: 320px;
  height: 20px;
  background: rgb(223, 223, 223);
  margin-top: 15px;
  border-radius: 8px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.g {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 40px 30px;
}
.f2 {
  width: 100px;
  height: 20px;
  background: rgb(223, 223, 223);
  margin-top: 15px;
  border-radius: 8px;
}
.f3 {
  width: 260px;
  height: 30px;
  background: rgb(223, 223, 223);
  margin-top: 65px;
  border-radius: 8px;
}
.f4 {
  width: 60px;
  height: 30px;
  background: rgb(223, 223, 223);
  margin-top: 65px;
  border-radius: 8px;
}
.hidden {
  display: none;
}
.c-skeleton {
  animation: fade 1s linear infinite alternate;
}
.loading {
  display: flex;
  align-items: end;
  gap: 50px;
  animation: fade 1s linear infinite alternate;
}
@keyframes fade {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}
#navbar-responsive.open {
  left: 0;
}
.c3 {
  cursor: pointer;
}
.menu-btn {
  border: 0;
  background: transparent;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 4px;
  display: none;
}

.menu-btn span {
  display: block;
  width: 30px;
  height: 4px;
  background-color: #333;
}
.nav-items {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  align-items: center;
}
.paragraph {
  margin-top: 150px;
  color: #858997;
  font-size: 13px;
}
.paragraph b {
  color: #000;
}
.img {
  width: 360px;
}
.img1 {
  width: 200px;
  height: 200px;
}
.like {
  display: flex;
  align-items: start;
  gap: 200px;
  position: absolute;
  margin-top: -300px;
}
.like p {
  color: #fff;
  background: red;
  padding: 2px 8px;
  border-radius: 8px;
  font-size: 14px;
}
.compare {
  display: flex;
  flex-direction: column;
}
.description {
  max-width: 430px;
  padding: 10px;
}
.rating {
  display: flex;
  align-items: center;
  gap: 10px;
}
.rating img {
  width: 100px;
}
.comment {
  display: flex;
  align-items: center;
  gap: 3px;
}
.comment p {
  color: #c2c6d1;
  font-size: 14px;
  cursor: pointer;
}
.share {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-left: 90px;
  margin-top: 20px;
}
.share p {
  color: #2d8bfa;
  font-size: 15px;
  cursor: pointer;
}
.description h2 {
  color: #d9663b;
  font-size: 24px;
  margin-top: 5px;
}
.description h3 {
  color: #181616;
  font-size: 14px;
  margin-top: 5px;
}
.description h4 {
  color: #212529;
  font-size: 16px;
  margin-top: 15px;
}
.description b {
  opacity: 0.5;
  font-size: 10px;
}
.green {
  display: inline;
  color: #00bfaf;
}
.btn {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}
.btn1 {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  border-radius: 8px;
  border-style: none;
  background: #00bfaf;
  color: #fff;
  font-size: 14px;
  transition: 0.3s linear;
  cursor: pointer;
}
.btn2 {
  padding: 12px 34px;
  border-radius: 8px;
  border-style: none;
  border: 2px solid #008dff;
  color: #008dff;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s linear;
}
.btn2:hover {
  background: #008dff;
  color: #fff;
}
.btn1:hover {
  background: #02a093;
}
.btn3 {
  color: #0f172a;
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
}
.thumb {
  display: flex;
  align-items: center;
  gap: 200px;
  margin-top: 15px;
  cursor: pointer;
}
.thumb1 {
  align-items: center;
  gap: 4px;
  display: flex;
  color: #1e293b;
  font-size: 14px;
  transition: 0.2s linear;
}
.thumb1:hover {
  fill: #fe7300;
  color: #fe7300;
}
.thumb span {
  color: #008dff;
  padding: 8px;
  background: #008dff1f;
}
.e {
  cursor: pointer;
}
.payment {
  max-width: 350px;
  padding: 5px;
}
.payment h1 {
  color: #212529;
  font-size: 24px;
}
.button {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 12px;
}
.button button {
  padding: 8px 16px;
  color: #c0c0c0;
  font-size: 13px;
  border-style: none;
  cursor: pointer;
  border: 2px solid #c0c0c0;
  border-radius: 4px;
}
.button button:focus {
  background: #008dff1f;
  border: 2px solid #008dff;
  color: #008dff;
}
.uzum {
  padding: 15px;
  border: 2px solid #008dff;
  border-radius: 8px;
  margin-top: 15px;
  cursor: pointer;
}
.i {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.i p {
  font-size: 13px;
  color: #212529;
}
.i span {
  font-size: 12px;
  color: #b1b1b1;
  padding: 5px;
  border-radius: 50%;
  border: 2px solid #b1b1b1;
}
.nasiya {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.nasiya p {
  color: #fe7405;
  font-size: 16px;
  font-weight: 600;
}
.uzum button {
  cursor: pointer;
  color: #fff;
  background: #fe7405;
  border-style: none;
  padding: 14px 75px;
  margin-left: 5px;
  margin-top: 10px;
  border-radius: 8px;
  font-size: 15px;
}
.uzum1 {
  margin-top: 20px;
}
.card {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 70px;
  gap: 50px;
}
.h {
  width: 350px;
  height: 350px;
  background: rgb(223, 223, 223);
  margin-top: 65px;
  border-radius: 8px;
}
.h2 {
  width: 350px;
  height: 30px;
  background: rgb(223, 223, 223);
  border-radius: 8px;
}
.h3 {
  width: 370px;
  height: 30px;
  background: rgb(223, 223, 223);
  margin-top: 25px;
  border-radius: 8px;
}
.h4 {
  width: 150px;
  height: 60px;
  background: rgb(223, 223, 223);
  margin-top: 25px;
  border-radius: 8px;
}
.h5 {
  width: 300px;
  height: 30px;
  background: rgb(223, 223, 223);
  margin-top: 25px;
  border-radius: 8px;
}
.h6 {
  display: flex;
  gap: 10px;
}
.h7 {
  width: 170px;
  height: 30px;
  background: rgb(223, 223, 223);
  margin-top: 25px;
  border-radius: 8px;
}
@media (max-width: 1280px) {
  #navbar-responsive {
    position: fixed;
    top: 90px;
    bottom: 0;
    left: -100%;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
    transition: 0.5s;
  }

  .menu-btn {
    display: flex;
  }
  nav {
    justify-content: space-between;
    padding: 30px 0;
  }
  .b {
    display: none;
  }
  .d {
    margin-top: 120px;
  }
}
@media (max-width: 915px) {
  .card {
    margin-top: 160px;
  }
}
@media (max-width: 483px) {
  #b {
    width: 180px;
  }
}
@media (max-width: 435px) {
  .rating {
    flex-wrap: wrap;
  }
  .btn {
    flex-wrap: wrap;
  }
  .thumb {
    gap: 0;
    justify-content: space-between;
  }
}
